includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    # Level 9 is the highest level
    level: 6
    ignoreErrors:
        # larastan needs to manage ->pivot properties
        #- '#Access to an undefined property App\\Models\\[^:]*::\$pivot\.#'
        - '#Method\s.+?\sreturn type has no value type specified in iterable type array\.#'
        - '#\s.+?\sno value type specified in iterable type array\.#'
        - '#Using nullsafe property access on non-nullable type\s.+?\s.#'


#
    excludePaths:
        - app/Http/Controllers/Auth/VerifyEmailController.php
        - app/Http/Controllers/Projects/ProjectViewModel.php
        - app/Services/UpdateUserInformation.php
        - app/Http/Middleware/CheckProject.php
        - app/Http/Controllers/Projects/Files/FileViewModel.php
        - app/Services/UpdateTeamType.php
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    treatPhpDocTypesAsCertain: false
