@import 'floating-vue/dist/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.unread {
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 3px;
  height: 10px;
  width: 10px;
  background: rgba(52, 172, 224, 1);
  box-shadow: 0 0 0 0 rgba(52, 172, 224, 1);
}
